@page
@using asp_dotnet_getstarted.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@(await Html.RenderComponentAsync<ProductListComponent>(RenderMode.ServerPrerendered))


<script src="_framework/blazor.server.js"></script>